@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0C322C;
  color: #e5e5e5;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #092621;
}
::-webkit-scrollbar-thumb {
  background: #1A453C;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2A5850;
}